<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target xsi:type="File"
				name="fileTarget"
				fileName="${basedir}/logs/${shortdate}.log"
                layout="${date:format=yyyy-MM-dd HH\:mm\:ss}  ${uppercase:${level}} ${message}"
				
				archiveFileName="${basedir}/Logs/Archives/${shortdate}.log"
				archiveAboveSize="5000000"
				archiveNumbering="DateAndSequence"
				archiveEvery="Day"
				archiveDateFormat="yyyyMMdd"
		/>
	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="fileTarget" />
	</rules>
</nlog>
